/* src/components/Hero.css */

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  
  /* Musí být průhledné pro efekt bubliny */
  background-color: transparent; 
  color: var(--text-color); 
  
  min-height: 60vh;
}

.hero-text {
  flex-basis: 55%;
  text-align: left;
}

.hero-text h2 {
  font-size: 3rem;
  margin-bottom: 25px;
  line-height: 1.2;
}

.hero-text ul {
  list-style: none;
  padding-left: 0;
}

.hero-text li {
  font-size: 1.2rem;
  margin-bottom: 12px;
  opacity: 0.9;
  position: relative;
  padding-left: 25px;
}

.hero-text li::before {
  content: '•';
  color: var(--accent-color);
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: -5px;
}

.hero-model {
  flex-basis: 40%;
  height: 350px;
  background-color: #2b2b2b; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #777;
}

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 50px 5%;
  }
  .hero-text, .hero-model {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}